<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
    <p>Helllo {{username}}</p>
    <p>Verify Email - Nanapapi Todos</p>
 
    <p><a href="{{resendUrl}}">Confirm Email</a></p>
    <p>You can also copy the link:</p>

    <p><a href="{{resendUrl}}">{{resendUrl}}</a></p>
    <p>The link will expire in 10 minutes. Please ignore this email if you did not request for it.</p>
    <p>Thank you.</p>
</body>
</html>
